<!DOCTYPE HTML>
<html lang="es">
<head>
	
	<meta charset = 'UTF-8' />
	<title> {% block titulo%} {%endblock%} </title>
	
	
</head>
<body>
	<header>
		{% block encabezado%} {%endblock%}
		<nav>
			<ul>
				<li> <a href="/paqueteria/index"> Index </li>	
				<li> <a href="/paqueteria"> Inicio </li>								
				<li> <a href="/paqueteria/0ad"> busqueda</a></li>
			</ul>
		</nav>
		<hr />
	</header>
	
	<section>
		{% block contenido%} {%endblock%}
		
	</section>
	
	<footer>
		<center><p> Esto es una prueba =D </p></center>
	</footer>
	
</body>	
</html>