{%extends 'base.html'%}
{% load url from future %}

{% block titulo%} Sistema de busqueda{%endblock%}

{% block encabezado%} <p> <center><h1>Busqueda </center></h1></p> {%endblock%}


{%block contenido%}

<div><p> el paquete es : {{ i.nombre }}</p> </div>
<div> 
   <p> version: {{i.version}} </p>
   <p> size: {{i.size}}</p>
   <p> insize: {{i.instsize}} </p>
   <p> sha256: {{i.sha256}} </p>
   <p> sha1: {{i.sha1 }}</p>
   <p> md5sum: {{i.md5sum }}</p>
   <p> descripcion: {{i.descripcion}} </p>
   <p> pagina: <a href="{{i.pagina}}">{{i.pagina }}</a></p>
   <p> demd5: {{i.desmd5}} </p>
   <p> dependencias:
   	{%for x in i.dependenciaSimple.only%}
   	 <a href="{{x}}" >{{x}}</a>
   	 {% endfor %}
   	  </p>
   <p> mantenedor: {{i.mantenedor}} </p>
   <p> seccion: {{i.seccion }}</p>
   <p> prioridad: {{i.prioridad }}</p>
   <p> nombre de archivo: {{i.nombrearchivo}} </p>
   <p> arquitectura: {{i.arquitectura}} </p>
	 </div>

{%endblock%}